name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Build
        run: cargo build --verbose
        working-directory: ./

      - name: Run Tests
        run: cargo test --verbose
        working-directory: ./

      - name: Run Clippy
        run: cargo clippy -- -D warnings
        working-directory: ./

      - name: Check Format
        run: cargo fmt -- --check
        working-directory: ./
